html {
  /* 10/16 * .625 * 100 = 62.5 */
  font-size: 62.5% !important;
}

@media only screen and (max-width: 998px) {
  html {
    font-size: 55% !important;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 45% !important;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "InterRegular" Arial, sans-serif;
  background-color: #ecf4f4;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

.slick-arrow {
  display: none !important;
}
.MuiSvgIcon-root.makeStyles-why_trip_btn_mail_icon-25 {
  width: 2.4rem;
  height: 2.4rem;
}
.sliderSection {
  padding-bottom: 7rem;
}
.sliderSection .slick-slide {
  max-width: 280px;
}
